[Unit]
Description=Fortune Application

[Service]
ExecStart=/usr/bin/python3 /opt/fortune/fortune.py
WorkingDirectory=/opt/fortune
User=nobody
Group=nogroup
Restart=always

[Install]
WantedBy=multi-user.target
