{% for server in groups['reversinglabs_devops_task_application_nodes'] %}
{{hostvars[server]['ansible_facts']['default_ipv4']['address']}} {{hostvars[server]['ansible_facts']['fqdn']}} {{hostvars[server]['ansible_facts']['hostname']}}
{% endfor %}
